# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.swp
*.swo
*.swn
*.swm
*.iml
.idea
.classpath
.myeclipse/
.settings/
.mymetadata
.class
.project
WebRoot/WEB-INF/classes/
.DS_Store
.myumldata
/out
/target
/lib
/sample.db
nohup.out
/out
/*.png
/logs
webapp/WEB-INF/classes
webapp/WEB-INF/lib
webapp/zzzhc.jsp
assets.manifest
src/main/resources/rebel.xml
src/test/resources/rebel.xml